/*@font-face {
  font-family: whiskerFont;
  src: url(HelveticaNeue.ttf);
}*/

h1 {
  font: 15px Verdana, sans-serif;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
}

p.h5az {
  font: 12px Verdana, sans-serif;
  line-height: 20px;
}

p.h4az {
  font: 15px Verdana, sans-serif;
}

p.h2az {
  font: 25px Verdana, sans-serif;
  color: #555555;
  padding: 15px;
  padding-left: 25px;
}

a:link, a:active, a:visited {
  font: 15px Verdana, sans-serif;
  color: #d6782c;
}

a:hover {
  font: 14px;
  color: #FFFFFF;
}

.aznav {
  background-color: rgba(255, 255, 255, 0);
  padding: 35px;
}

.frontbox {
  border: 1px solid;
  color: #CCCCCC;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0px;
  margin: 10px;
  font: 13px Verdana, sans-serif;
  letter-spacing: 1px;
  line-height: 16px;
  background-color: rgba(255, 255, 255, 0.7);
}

p.subfront {
  font: 14px Verdana, sans-serif;
  text-align: center;
  margin: 15px;
  padding: 0px;
  color: #595959;
  letter-spacing: 1px;
  line-height: 18px;
}

p.cright {
  font: 12px Verdana, sans-serif;
  color: #999999;
  padding: 0px;
  display: inline;
}

.footer {
  background-color: #E6E6E6;
  width: 100%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 35%; /*Width of box*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #d6782c;
    /*background-color: #5cb85c;*/
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.searchRadio input{
    margin: -2px;
    padding: 0px;
    display: inline-block;
    float: left;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.searchRadio {
  margin-left: -2px;
  margin-right: -4px;
  float: left;
}

.sselsitting {
  margin-left: 0px;
  padding: 0px;
  float: left;
  
}

.sselwalking {
  margin: -2px;
  padding: 0px;
  float: left;
}

.searchRadio input:active +.searchselect{
  opacity: 1;
}

.searchRadio input:checked +.searchselect{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.searchselect{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
  display: inline-block;
    width: 109px;
   height: 50px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.3) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.3) grayscale(1) opacity(.7);
            filter: brightness(1.3) grayscale(1) opacity(.7);
}

.searchselect:hover {
    -webkit-filter: brightness(1) grayscale(0) opacity(1);
       -moz-filter: brightness(1) grayscale(0) opacity(1);
            filter: brightness(1) grayscale(0) opacity(1);
}

.searchRadio input:active +.searchselect{opacity:1 brightness: 1}
.searchRadio input:checked +.searchselect{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}


.sselsitting {
  margin: 0px;
  padding: 0px;
  background-image: url("isearch1-a.png");
}

.sselwalking {
  margin: 0px;
  padding: 0px;
  background-image: url("isearch2.png");
}

.sselboarding {
  margin: 0px;
  padding: 0px;
  background-image: url("isearch3.png");
}

.fpdark {
  background-color: #EEEEEE;
  font: 25px Verdana, sans-serif;
  letter-spacing: 1px;
  line-height: 20px;
}

.fplight {
  background-color: #FFFFFF;
  font: 25px Verdana, sans-serif;
  letter-spacing: 1px;
  line-height: 20px;
}

.whiteFont .shadowedFont {
  font: 14px Verdana, sans-serif;
  letter-spacing: 1px;
}

.coloredFont {
  font: 30px Verdana, sans-serif;
  color: #FFFFFF;
  letter-spacing: 1px;
}

.orangeFont {
  font: 30px Verdana, sans-serif;
  color: #d6782c;
  letter-spacing: 1px;
}

.azbtn {
  font: 10px Verdana, sans-serif;
  border-color: #d6782c;
  background-color: rgba(255, 255, 255, 0.1);
  color: #d6782c;
  letter-spacing: 1px;
}

.tallSearch {
  font: 14px Verdana, sans-serif;
  color: #d6782c;
  border-color: #d6782c;
  background-color: rgba(255, 255, 255, 0.4);
  letter-spacing: 1px;
  line-height: 33px
}

.tallSearch:hover {
  font: 14px Verdana, sans-serif;
  color: #d6782c;
  border-color: #d6782c;
  background-color: rgba(255, 255, 255, .8);
  letter-spacing: 1px;
  line-height: 33px
}

.coloredFontsmaller {
  font: 20px Verdana, sans-serif;
  color: #FFFFFF;
  letter-spacing: 1px;
}

.frontbox {
  font: 14px Verdana, sans-serif;
}

.h3az {
  font: 28px Verdana, sans-serif;
  letter-spacing: 1px;
}
