<template name="main">
  
  <script>
    var previousScroll = 0;
    headerOrgOffset = $('#header').height();

    $('#header-wrap').height($('#header').height());

    $(window).scroll(function () {
      var currentScroll = $(this).scrollTop();

      if (currentScroll > headerOrgOffset) {
        if (currentScroll > previousScroll) {
          $('#header-wrap').slideUp();
        } else {
          $('#header-wrap').slideDown();
        }
      } else {
        $('#header-wrap').slideDown();
      }

      previousScroll = currentScroll;
    });
	
  </script>

  <!--div-->

    {{> loginPrompt}}
    {{> registerPrompt}}
    <!--{-{> searchPrompt}-}-->

    <div id="header-wrap">
      <div id="header" class="clear">
    
        <nav class="aznav navbar-inverse navbar-fixed-top"><!--navbar-fixed-top-->
          <div class="container-width"><!--container-width-->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="logo.png" width="165" height="39" alt="Whisker" /></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">

                <li><a href="javascript:void(0);" data-action="search"><span class="glyphicon glyphicon-search"></span></a></li>
                <!--li><a href="/">Search <span class="sr-only">(current)</span></a></li-->
      
                <!--li class="dropdown">
                  <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Info <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/about">About</a></li>
                    {-{#if currentUser}-}
                    <li role="separator" class="divider"></li>
                    <li><a href="/feedback">Feedback</a></li>
                    {-{/if}-}
                  </ul>
                </li-->

                {{> WhiskerLogin}}
                
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    {{> yield}}
    
  <!--/div-->
  
  <div class="text-center">
    {{> footerTemplate}}
  </div>
  
</template>

<template name="WhiskerLogin">
  
  {{#if currentUser}}
    <!--li><a href="/survey">Survey</a></li-->
    <li><a href="javascript:void(0);" data-action="logout">Logout</a></li>
    <!--li class="dropdown">
      <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{currentUser.login}} <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="javascript:void(0);" data-action="logout">Logout</a></li>
      </ul>
    </li-->
    <li><a href="/editProfile">Profile</a></li>
    <!--TODO: Add unread message count.-->
    <li><a href="/viewMailbox"><span class="glyphicon glyphicon-envelope"></span></a></li>
  {{else}}
    {{#if loggingIn}}
      <li class="active"><a href="javascript:void(0);">Logging In...</a></li>
    {{else}}
      <!--{-{#if isLoginConfigured}-}-->
        <li><a href="javascript:void(0);" data-action="login">Login</a></li>
        <li><a href="javascript:void(0);" data-action="register">Register</a></li>
      <!--{-{/if}-}-->
    {{/if}}
  {{/if}}
  
</template>

<template name="loginPrompt">

  <div class="modal fade" id="loginPrompt" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Login</h4>
        </div>
        <!--form class="form-horizontal" onsubmit="javascript:return true;">
          <div class="control-group"-->
            <div class="modal-body">
              <label for="loginPromptEmail"><span class="glyphicon glyphicon-user"></span> E-mail: </label>
              <input id="loginPromptEmail" type="email" name="email" class="form-control" placeholder="E-mail Address" />
              <label for="loginPromptPassword"><span class="glyphicon glyphicon-lock"></span> Password: </label>
              <input id="loginPromptPassword" type="password" name="password" class="form-control" placeholder="Password" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" id="loginPromptConfirm">Login</button>
            </div>
          <!--/div>
        </form-->
      </div>
    </div>
  </div>

</template>

<template name="registerPrompt">

  <div class="modal fade" id="registerPrompt" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Registration</h4>
        </div>
        <div class="modal-body">
          <label for="registerPromptEmail"><span class="glyphicon glyphicon-user"></span> E-mail: </label>
          <input id="registerPromptEmail" type="email" name="emailRegister" class="form-control" placeholder="E-mail Address" />
          <label for="registerPromptPassword"><span class="glyphicon glyphicon-lock"></span> Password: </label>
          <input id="registerPromptPassword" type="password" name="passwordRegister" class="form-control" placeholder="Password" />
          <label for="registerPromptPasswordConfirm"><span class="glyphicon glyphicon-lock"></span> Confirm: </label>
          <input id="registerPromptPasswordConfirm" type="password" name="passwordConfirm" class="form-control" placeholder="Confirm Password" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="registerPromptRegister">Register</button>
        </div>
      </div>
    </div>
  </div>

</template>

<template name="howItWorks">

  <div class="modal fade" id="searchPrompt" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">How it Works</h4>
        </div>
        <div class="modal-body">



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</template>
