<!--WARNING: Adding this will break Meteor routes.-->
<!--head-->
  <!--Web page has no title without this:-->
  <!--title>Whisker.me</title>
</head>
<body>
  {{> main}}
</body-->

<template name="identity"><i>Whisker</i></template>

<template name="home">
  
  {{> searchTemplate}}
  {{> resultsTemplate}}  
  {{> feedbackPrompt}}
  
</template>

<template name="googleMap">
  <div id="googleMap"></div>
  <!--div class="embed-responsive embed-responsive-16by9">
    <div id="googleMap"></div>
  </div-->
</template>

<template name="footerTemplate">
  
  <div class="container footer">
    <br />
    <img src="smtwitter.png" width="50" height="50" />&nbsp;&nbsp;&nbsp;
    <img src="smfacebook.png" width="50" height="50" />&nbsp;&nbsp;&nbsp;
    <img src="sminstagram.png" width="50" height="50" />
    <br /><br />
    <a href="/">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/faq">FAQ</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/about">About Us</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/terms">Terms</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/privacy">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/contact">Contact</a>&nbsp;&nbsp;<br />
    <p class="cright">&copy; Copyright 2015-2016 {{> identity}}.&nbsp;&nbsp;All rights reserved.<br /></p>
    <br />
  </div>
  
</template>
