<template name="resultsTemplate">

  {{#with ResultsFound}}
    {{#if ready}}
                
    <div class="container">
      <div class="jumbotron">
        <div class="container">
          
          <form class="form-horizontal" role="form">
            <input id="resultUsernameTo" name="resultUsernameTo" type="hidden" value="" />           

            {{#if currentUser}}
            {{else}}
              <div class="form-group">
                <div class="col-md-12 text-center">
                  <h3>Please register to exchange messages with our members.</h3>
                </div>
              </div>
            {{/if}}
            
            {{#each data}}
              {{#if currentUser}}
                <div class="form-group">
                  <div class="col-md-2">
                    <img height="100px" width="100px" src="{{this.url}}" />
                  </div>
                  <div class="col-md-7">
                    <h2>{{this.username}}</h2>
                    <p>{{this.FullAddress}}<br />
                    {{this.Summary}}</p>
                    {{> rating preset=true value=this.ratings.[0]}}
                  </div>
                  <div class="col-md-3">
                    <input onclick="javascript:document.getElementById('resultUsernameTo').value='{{this.username}}';" id="buttonSubmit" type="submit" class="btn btn-primary pull-right" name="Contact {{this.username}}" value="Contact {{this.username}}" />
                  </div>
                </div>
              {{else}}
                <div class="form-group">
                  <div class="col-md-2">
                    <img height="100px" width="100px" src="{{this.url}}" />
                  </div>
                  <div class="col-md-7">
                    <h2>{{this.username}}</h2>
                    <p>{{this.FullAddress}}<br />
                    {{this.Summary}}</p>
                    {{> rating preset=true value=this.ratings.[0]}}
                  </div>
                  <div class="col-md-3">
                    &nbsp;
                  </div>
                </div>
              {{/if}}
            {{else}}
              <div class="form-group">
                <div class="col-md-12">
                  <p>We could not find any providers that matched your search criteria within our site. However, we can get you in touch with a provider, just send us a message!</p>
                  <p><a href="mailto:whiskerllc@gmail.com">whiskerllc@gmail.com</a></p>
                </div>
              </div>
            {{/each}}

          </form>
        
        </div>
      </div>
    </div>

    {{else}}

    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <br><h3 class="h3az">Ready to get started? It's easy to join&nbsp;<a href="https://player.vimeo.com/video/156397118" target="_blank"><span class="glyphicon glyphicon-facetime-video"></span></a></h3><br>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">&nbsp;</div>
        <div class="col-sm-3 frontbox">
          <p class="subfront">
          <h1>Sign up</h1><br><br>
          <img src="addressbook-icon.png" width="80px" align="left">
          Create an account and set up your profile. This is how other members will be able to contact you.</p>
          <br><img class="img-responsive center-block" src="frontimg1.jpg">
        </div>
        <div class="col-sm-3 frontbox">
          <p class="subfront">
          <h1>Connect</h1><br><br>
          <img src="people-icon.png" width="80px" align="left">
          Find available sitters in your area. Exchange messages and contact info using your inbox.</p><br>
          <img class="img-responsive center-block" src="frontimg2.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">&nbsp;</div>
        <div class="col-sm-3 frontbox">
          <p class="subfront">
          <h1>Earn Credits</h1><br><br>
          <img src="cycle-icon.png" width="80px" align="left">
          Earn dogsitting hours for the amount of time that you provided service. You will then be able to use for your dog.</p>
          <img class="img-responsive center-block" src="frontimg4.png">
        </div>
        <div class="col-sm-3 frontbox">
          <p class="subfront">
          <h1>Review</h1><br><br>
          <img src="write-icon.png" width="80px" align="left">How was your experience? Good feedback helps other members like you find their perfect provider.</p>
          <br><img class="img-responsive center-block" src="frontimg3.jpg">
        </div>
      </div>
    </div>

    <br>
    <div class="fpdark">
      <div class="container">
      <br><br>
      <center><h3 class="h3az">See what everyone is saying...</h3></center>
      <br><br>
      <center>
        <div class="row">
          <div class="col-md-3">&nbsp;</div>
          <div class="col-md-6 frontbox">
            <p class="subfront">
              <img class="img-responsive" width="100px" align="left" src="no-profile-img.gif">
              <h3 class="h3az orangeFont"><i>Joanne S.</i></h3>
              <br>
              "I love that Whisker gives me the convenience of dogsitting and peace of mind knowing she'll be in good hands!"
              <br><br><br>
            </p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-3">&nbsp;</div>
          <div class="col-md-6 frontbox">
            <p class="subfront">
              <img class="img-responsive" width="100px" align="left" src="no-profile-img.gif">
              <h3 class="h3az orangeFont"><i>Robert D.</i></h3>
              <br>
              "I heard about Whisker through a friend and I'm so glad I tried it out!
              My dog loves her usual sitter and we've both made new friends."
              <br><br>
            </p>
          </div>
        </div>
 
        <div class="row">
          <div class="col-md-3">&nbsp;</div>
          <div class="col-md-6 frontbox">
            <p class="subfront">
              <img class="img-responsive" width="100px" align="left" src="no-profile-img.gif">
              <h3 class="h3az orangeFont"><i>Anda Z.</i></h3>
              <br>
              "I don't have a dog, but if I did, he and I would both love Whisker! Convenient for me, comfortable for him."
              <br><br><br>
            </p>
          </div>
        </div>
      <br><br> 
      </center>
      </div>
    </div>
    
    <div class="fplight">
      <center>
        <br><br>
        <h3 class="h3az">Whisker makes dogsitting easier.</h3>
        <br><br>
        <div class="container">
          <div class="col-md-1">&nbsp;</div>
          <div class="col-md-3">
            <img src="dogstock.jpg" height="250px"><br>            
            Our rigorous vetting system
            <p class="h5az">
            <br>
            <img src="check-icon.png" width="15px"> Experienced dog owners will be watching your dog.<br>
            <img src="check-icon.png" width="15px"> In-person interview<br>
            <img src="check-icon.png" width="15px"> Background check<br>
            <img src="check-icon.png" width="15px"> Two reliable references<br>
            <img src="check-icon.png" width="15px"> Meet and greet option
            <br><br>
            </p>
            <br>
          </div>
          <div class="col-md-3"><br>
            <img src="chat-icon.png" height="200px"><br><br>
            Excellent customer service
            <p class="h5az">
              <br>You can contact our team anytime with questions or concerns.</p>
          </div>
          <div class="col-md-3"><br>
            <img src="location-icon.png" height="200px"><br><br>
            Close proximity<br>
            <p class="h5az"><br>You never have to drive to drop off your dogs for doggy daycare or dog sitting. All you have to do is sign up, and find a sitter in your neighborhood.</p><br>
          </div>            
        </div>      
      </center>
    </div>
    <div class="fpdark">
      <center>
        <br><br>
        <h3 class="h3az">How does Whisker work?</h3><br><br>
      <iframe src="https://player.vimeo.com/video/156397118?color=ff9933&title=0&portrait=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <br><br><br>
      </center>
    </div>
    <div class="fplight">
      <center>
        <br><br>
        <h3 class="h3az">Who we are</h3><br><br><br>
        <img src="parkimg.jpg" height="350px"><br><br>
        <p class="h4az">We are a group of dog-lovers in the Pittsburgh area. Check out <a href="/about">about us</a> for more.
        </p>
        <br>
        <br><br>
      </center>
    </div>
    
    {{/if}}
  {{/with}}
      
</template>