<template name="searchTemplate">

  <div class="backgroundImage">
    <div class="container">
      <div class="jumbotron">
        <div class="container">
          
          <div class="page-header">
            <h2 class="whiteFont shadowedFont">Share the love!</h2>
          </div>
          
          {{#if showMap}}
          {{else}}
          <div class="col-md-6 whiteFont shadowedFont">
            <p style="font-size: 1.2em;">{{> identity}} is a leading-edge service to connect you with other vetted dog owners within 
              your neighborhood to exchange dog sitting, walking, or boarding assistance. With our service, 
              you can be more confident knowing your pooch will be in a comfortable environment, just like 
              your own.</p>
              <a class="btn btn-info azbtn" id="howItWorksButton" name="howItWorksButton" href="https://player.vimeo.com/video/156397118" target="_blank">How it Works <span class="glyphicon glyphicon-facetime-video"></span></a>
          </div>         
          <div class="col-md-6 text-center">
            &nbsp;
          </div>
          
          <div class="col-md-12 text-center">&nbsp;</div>
          {{/if}}
          
          <div class="col-md-12">
            <form class="form-horizontal" role="form">
            
              <div class="form-group">
                
                <div class="col-md-2 col-md-no-padding">
                  <input id="searchPromptAddress" type="text" class="form-control full-width-control searchHeight" name="searchPromptAddress" placeholder="Address & zip" /> 
                </div>
                
                <!--div class="col-md-5 col-md-no-padding" style="display: none">
                  <select id="searchPromptDistance" class="form-control full-width-control" name="searchPromptDistance" size="1">
                    <option value="8">5 mi</option>
                    <option value="16">10 mi</option>
                    <option value="24">15 mi</option>
                    <option value="32">20 mi</option>
                    <option value="40">25 mi</option>
                    <option value="80">50 mi</option>
                    <option value="160" selected>100 mi</option>
                  </select>
                </div>
                
                <div class="col-md-2 col-md-no-padding" style="display: none;">
                  <select id="searchPromptService" class="form-control full-width-control searchHeight" name="searchPromptService" size="1" style="height: 45px">
                    <option value="dogSitting">Sitting</option>
                    <option value="dogWalking">Walking</option>
                    <option value="dogBoarding">Boarding</option>
                  </select>
                </div-->
                <!--col-md-4 col-md-no-padding -->

                <div class="col-md-4 col-md-no-padding searchRadio">
                  <input id="sselsitting" type="radio" name="searchPromptServiceButton" value="dogSitting"/>
                  <label class="searchselect sselsitting" for="sselsitting"></label>
                  <input id="sselwalking" type="radio" name="searchPromptServiceButton" value="dogWalking"/>
                  <label class="searchselect sselwalking" for="sselwalking"></label>
                  <input id="sselboarding" type="radio" name="searchPromptServiceButton" value="dogBoarding"/>
                  <label class="searchselect sselboarding" for="sselboarding"></label>
                </div>
                
				

                <div class="col-md-2 col-md-no-padding">
                  <div class="input-group date" id="searchPromptDropOff">
                    <input type="text" class="form-control searchHeight" id="searchPromptDropOff_v" value="" />
                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                  </div>
                </div>

                <div class="col-md-2 col-md-no-padding">
                  <div class="input-group date" id="searchPromptPickUp">
                    <input type="text" class="form-control searchHeight" id="searchPromptPickUp_v" value="" />
                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                  </div>
                </div>


                
              <!--div class="form-group"-->
                <!--div class="col-md-5 col-md-no-padding">&nbsp;</div-->
                <div class="col-md-2 col-md-no-padding">
                  <input type="submit" name="submit" value="Search" class="btn btn-primary full-width-control searchHeight" />
                </div>
                <!--div class="col-md-5 col-md-no-padding">&nbsp;</div-->
              <!--/div-->
              
              </div>
              
            </form>
          </div>
                     
          <!--div class="col-md-12">
            {{#if showMap}}
              {{> googleMap}}
            {{else}}
              <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://player.vimeo.com/video/156397118" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            {{/if}}
          </div-->
          
        </div>
      </div>
    </div>
  </div>
  
  {{#if showMap}}
  <div class="container">
    <div class="jumbotron">
      <div class="container">
        <div class="col-md-12">
          {{> googleMap}}
        </div>
      </div>
    </div>
  </div>
  {{/if}}

</template>
