<template name="about">

  <div class="container">
    <div class="jumbotron">
      <div class="container">
        <div class="page-header">
          <h2 class="text-center">Who we are</h2>
        </div>
        <div class="fpdark" style="padding:30px">
          <div class="container">
          <img src="prativaau.png" height="250" align="left" style="padding-right:25px">
          <br>
          <h4 class="h4az"><b>Prativa & Maya</b><br><br>
<i>Co-founder, CEO</i><br><br>
Prativa, whisker’s founder and CEO, is a dog lover and passionate about everything dog. Through whisker, she is not only creating a dog community for Doggies like Maya, but also creating a much stronger bond between the people who parent them. 
          </h4></div>
        </div>
        <div class="fplight" style="padding:30px">
        
        <img src="guruau.png" height="250" align="left" style="padding-right:25px">
        <br>
        <h4 class="h4az"><b>Guruprasad</b><br><br>
        <i>Co-founder, CTO</i><br><br>
        Guru is a graduate student at Carnegie Mellon University. Although a Biomedical Engineer by heart, he enjoys 
      building websites and learning new frameworks as a hobby!<br><br><br>
        </h4></div><br><br>
        
      <div class="fpdark" style="padding:30px">
        
        <img src="brianau.png" height="250" align="left" style="padding-right:25px">
        <br>
        <h4 class="h4az"><b>Brian</b><br><br>
        <i>Co-founder, CIO</i><br><br>
        Brian is a software engineer by trade. His
      greatest expertise is with algorithm performance, software extensibility and scalability.<br>
      <br><br><br><br><br><br></h4>
        </div>
      
              <div class="fplight" style="padding:30px">
        
        <img src="andaau.png" height="250" align="left" style="padding-right:25px">
        <br>
        <h4 class="h4az">
          <b>Anda</b><br><br>
          <i>Front-End Developer</i><br><br>
          Anda is a full-time student at Carnegie Mellon University. She is a furry animal enthusiast & a future dog-owner.
          <br><br><br><br><br><br><br><br>
        </h4>
        </div>
              
                      <div class="fpdark" style="padding:30px">
        
        <img src="kevinau.png" height="250" align="left" style="padding-right:25px">
        <br>
        <h4 class="h4az">
          <b>Kevin</b><br><br>
          <i>Front-End Developer</i><br><br>
          Kevin is an engineering student at the University of Pittsburgh. He is a proud dog parent to Bella and Spike and can be found playing guitar or skateboarding in his free time.
          <br><br><br><br><br><br><br>
        </h4>
        </div>
    
      </div>
    </div>
  </div>
  
</template>

